* {
    box-sizing: border-box;
}

:root {
    --bg-bnt: url(../imagens/moon.png);
    --bg-site: #d0d0d0;
    --bg-img: url(../imagens/img\ luz\ 1.jpg);

}

.dark {
    --bg-btn2: url(../imagens/sun.png);
    --bg-site2: #3b3b3b;
    --bg-img: url(../imagens/img\ black\ 1.jpg);
}

body {
    display: flex;
    flex-wrap: wrap;
    background: var(--bg-site);
}

#principal {
    display: flex;
    width: 85%;
    align-items: center;
}

#btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: white var(--bg-bnt) no-repeat center center;
    cursor: pointer;
    transition: backgound 0.9;
}
